name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      
    - name: Setup Java JDK
      uses: actions/setup-java@v4.2.1
      with:
          java-version: '17'
          distribution: 'temurin'
    
    - name: Compilacion
      run: |
          mvn package
          #echo 'package'
          
    - name: Docker Login
      uses: docker/login-action@v3.1.0
      with:
        username: devopsusach
        password: ${{ secrets.DOCKER_PASS }}

    - name: List files
      run: |
          ls -la
        
    - name: Set up Docker
      uses: docker/setup-buildx-action@v3
      
    - name: Docker build
      run: | 
          docker build -t microservicio-java/proyecto:latest .
          
          
    - name: Docker push
      run: | 
          docker push microservicio-java/proyecto:latest
