name: CI
on: 
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Clonacion de repositorio
      uses: actions/checkout@v3
      
    - name: Setup Java JDK
      uses: actions/setup-java@v4.2.1
      with:
          java-version: '8'
          distribution: 'temurin'
    
    - name: Compilacion
      run: |
          mvn package

    - name: Ejecucion pruebas unitarias
      run: |
          mvn package test
          
    - name: Setup Java JDK para SonarCloud
      uses: actions/setup-java@v4.2.1
      with:
          java-version: '17'
          distribution: 'temurin'
    
          
    - name: Docker Login
      uses: docker/login-action@v3.1.0
      with:
        username: devopsusach
        password: ${{ secrets.DOCKER_PASS }}
      
    - name: Docker build
      run: | 
          docker build -t devopsusach/microservicio-java:proyecto .
          
    - name: Docker push
      run: | 
          docker push devopsusach/microservicio-java:proyecto
          
    - name: Docker push
      run: | 
          docker push devopsusach/microservicio-java:proyecto

    - name: Analisis SonarCloud
      run: |
          mvn clean verify org.sonarsource.scanner.maven:sonar-maven-plugin:3.11.0.3922:sonar \
          -Dsonar.token=${{ secrets.SONAR_TOKEN }} \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.organization=rafabarrerarav \
          -Dsonar.projectKey=RafaBarreraRav_microservicio-java


