name: CI
on: 
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Clonacion de repositorio
      uses: actions/checkout@v3
      
    - name: Setup Java JDK
      uses: actions/setup-java@v4.2.1
      with:
          java-version: '8'
          distribution: 'temurin'
    
    - name: Compilacion
      run: |
          mvn package
          
    - name: Setup Java JDK
      uses: actions/setup-java@v4.2.1
      with:
          java-version: '17'
          distribution: 'temurin'
    
          
    - name: Docker Login
      uses: docker/login-action@v3.1.0
      with:
        username: devopsusach
        password: ${{ secrets.DOCKER_PASS }}
      
    - name: Docker build
      run: | 
          docker build -t devopsusach/microservicio-java:proyecto .
          
    - name: Docker push
      run: | 
          docker push devopsusach/microservicio-java:proyecto
